<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>684236695390-o21lmkdoq09fg6nubo5c4r4h0ihsvi2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684236695390-o21lmkdoq09fg6nubo5c4r4h0ihsvi2j</string>
	<key>API_KEY</key>
	<string>AIzaSyC1fpb0Xp5yeLCRFhRD4dN49_w8O-wa1uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>684236695390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sfleet-provider</string>
	<key>PROJECT_ID</key>
	<string>small-talk-5d6e9</string>
	<key>STORAGE_BUCKET</key>
	<string>small-talk-5d6e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684236695390:ios:f5145a83743b148d</string>
	<key>DATABASE_URL</key>
	<string>https://small-talk-5d6e9.firebaseio.com</string>
</dict>
</plist>